@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
  font-size: 14px;

  font-family: "Raleway";
  color: hsl(243, 100%, 93%);
}

body {
  margin: 0;
}
.main {
  background-image: url(images/bg-desktop.png);
  background-repeat: no-repeat;
  background-size: 100% 52%;
  background-position: bottom left;
  background-color: hsl(229, 57%, 11%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.main > section {
  background-color: hsl(228, 56%, 26%);
}
.wrapper {
  border-radius: 7px 70px 7px 7px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  height: 21vh;
  width: 16%;
}

.wrapper > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  height: 70%;
  margin-left: 16%;
}

.img-background:first-child {
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: inherit;
  width: fit-content;
}
.img-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  background-color: hsl(229, 57%, 11%);
}
.sliderBox {
  height: 18vh;
  width: 35%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sliderBox > div {
  height: 50%;
  width: 85%;
}
.s-box {
  background-color: white;
  color: black;
  position: absolute;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  top: -6vh;
  left: 67%;
  height: 8vh;
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-box p {
  color: black;
  position: relative;
}
.s-box p:before {
  content: "";
  position: absolute;
  border-top: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 25px solid #fff;
  border-bottom: 20px solid transparent;
  left: 36px;
  bottom: -61px;
}

.s-box span {
  color: inherit;
  font-size: 3rem;
  font-weight: 900;
  margin-right: 5%;
}
.sliderContainer {
  width: 100%;
  height: 25px;
  border-radius: 20px;
  background-color: hsl(229, 57%, 11%);
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  border-radius: 1rem;
  -webkit-appearance: none;
  appearance: none;
  width: 98%;
  height: 15px;
  overflow: hidden;
}

.slider::-webkit-slider-runnable-track {
  background-color: hsl(229, 57%, 11%);
  height: 100%;
  border-radius: 20px;
}
.slider::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
  outline: 3px solid hsl(335, 100%, 65%);
  box-shadow: -2000px 0 0 1999px hsl(335, 100%, 65%);
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 20px;
}
.slider::-moz-range-track {
  background-color: hsl(229, 57%, 11%);
  height: 100%;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  cursor: pointer;
  outline: 3px solid hsl(335, 100%, 65%);
  box-shadow: -2000px 0 0 1999px hsl(335, 100%, 65%);
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 20px;
}

.sliderBox div div:last-child {
  display: flex;
  justify-content: space-between;
}
.sliderBox div div:last-child aside {
  font-weight: 600;
  color: #e6dddd;
}
@media only screen and (max-width: 375px) {
  * {
    font-size: .9rem;
  }
 .main {
  background-image: url(images/bg-mobile.png);
  background-size: cover;
  overflow-x: hidden;
 flex-direction: column;
 gap: 3%;
 } 
 .wrapper {
  width: 80%;
  height: 27vh;
 }
 .sliderBox {
  width: 80%;
  height: 26vh;
  
 }
 .s-box {
  border-radius: 8px;
  width: 50%;
  top: 85%;
  left: 24%;
 }
 .s-box span {
  font-size: 2rem;
 }
 .s-box p::before {
  display: none;
 }
 .sliderContainer {
  height: 3.3vh;
 }

 .sliderBox > div {
  font-size: 5rem;
  text-align: center;
 }
}